
* {
  box-sizing: border-box;
}
header{
  /*border: 1px solid red;*/


    width: 80%;
    top: 40px;
    padding: 18px 20px 18px 20px;
}
@media only screen and (max-width: 300px) {
  div.header {

  }
  h1{
    font-size: 30px;
  }
}
h1{
  font-size: 60px;
  line-height: 0;
}
.nombresEst{
  /*letter-spacing: 1px;*/
  line-height: 0;
  padding-bottom: 2em;
}
.nombreProf{
  font-size: 20px;
  line-height: 0;
  /*letter-spacing: 1px;*/
}
