
* {
  box-sizing: border-box;
}
header{
  /*border: 1px solid red;*/



}

h1{
  font-size: 60px;
  margin: 0;
  padding: 0;

}
.nombresEst{
  letter-spacing: 1px;
  padding: 0px 0px 20px 0px;
  margin: 0;
}
.nombreProf{
  font-size: 20px;
  letter-spacing: 1px;
  padding: 0px;
  margin: 0;
}
